@tailwind base;

@tailwind components;

@font-face {
  font-family: "whitney";
  src: local("whitney"), url(./fonts/whitney-medium.otf) format("otf");
}

@font-face {
  font-family: "whitney";
  src: local("whitney"), url(./fonts/whitney-semibold.otf) format("otf");
}

html {
  background-color: #161f38;
}

h1,
h2,
h3,
h4 {
  @apply font-semibold text-center;
  font-style: normal;
  font-weight: bold;
  line-height: 42px;
  font-size: 36px;
  color: #e8eeff;
}

.subheader {
  @apply font-semibold text-center p-5;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  font-size: 24px;
  color: #e8eeff;
}

.header {
  @apply font-semibold;
  font-style: normal;
  font-weight: bold;
  line-height: 42px;
  font-size: 36px;
  color: #e8eeff;
}

p {
  @apply font-medium text-left;
  color: #e8eeff;
  font-size: 18px;
  line-height: 25px;
}

nav {
  @apply relative flex flex-wrap items-center justify-between px-2 py-3 bg-transparent mb-3;
}

.nav-container {
  @apply px-4 mx-auto flex flex-wrap items-center justify-between;
}

.nav-brand-container {
  @apply w-full relative flex justify-between;
}

.nav-brand-text {
  @apply text-sm font-semibold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap opacity-100;
  font-size: 36px;
  color: #e8eeff;
}

.nav-brand-text:hover {
  @apply opacity-75;
}

.nav-stack {
  @apply text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block outline-none;
}

.nav-links-container {
  @apply flex flex-col list-none align-middle;
}

.nav-link {
  color: #e8eeff;
  @apply px-2 py-5 mx-10 flex items-center text-xs leading-snug font-semibold text-2xl opacity-100;
}

.nav-link:hover {
  @apply opacity-75;
}

@variants focus {
  .nav-stack {
    @apply outline-none;
  }
}

@screen lg {
  .nav-brand-container {
    @apply w-auto static block justify-start;
  }
  .nav-stack {
    @apply hidden;
  }
  .nav-links-container {
    @apply flex-row ml-auto;
  }
}

.svg {
  margin-left: 23rem;
}

.bot-badge {
  @apply text-xs p-1;
  border-radius: 2px;
  background: #7289da;
}

.at-user {
  @apply p-2;
  padding-left: 55px;
}

.at-user-text {
  background: #d0d6e9;
  color: #7289da;
}

.at-user-text:hover {
  color: #d0d6e9;
  background: #7289da;
}

.bot-badge:hover {
  background: #46589b;
}

.bg-gradient {
  background: linear-gradient(113.28deg, #7289da -2.42%, #4458a0 100%);
}

.discord-ui {
  background: linear-gradient(116.12deg, #7289da -2.42%, #4458a0 100%);
  /* main shadow */

  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 818px;
  height: 400px;
  @apply overflow-hidden shadow-lg inline-block float-left;
}

.btn {
  @apply font-medium py-2 px-4 rounded-sm;
  background: linear-gradient(125.22deg, #7289da -2.42%, #4458a0 100%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: #e8eeff;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.btn-small {
  @apply font-medium py-2 px-4 rounded-sm;
  background: linear-gradient(125.22deg, #7289da -2.42%, #4458a0 100%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: #e8eeff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.btn-small:hover {
  background: #e8eeff;
  color: #7289da;
}

.btn:hover {
  background: #e8eeff;
  color: #7289da;
}

.badge {
  @apply inline-block bg-gray-200 rounded-full px-3 py-1 font-semibold text-gray-700 mr-2 mt-1 opacity-100;
}

.badge:hover {
  @apply opacity-75;
}

.quick-link-top {
  border-top-left-radius: 12px;
  font-size: 36px;
  border-top-right-radius: 12px;
  background: linear-gradient(133.45deg, #4158ac 3.25%, #869ae2 118.58%);
  width: 267px;
}

.quick-link-bottom {
  background: linear-gradient(94.24deg, #7289da -2.42%, #4458a0 100%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 267px;
}

.quick-link-sub {
  @apply font-semibold;
  font-style: normal;
  font-weight: bold;
  color: #e8eeff;
  font-size: 12px;
  line-height: 14px;
}

@tailwind utilities;
